 <!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KitoKids</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
   
 
 <link href="~/css/userhomepagestyle.css" rel="stylesheet" />
 
 
 
<link rel='stylesheet' id='bs_bootstrap-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/bootstrap-shortcodes/css/bootstrap.css' type='text/css' media='all' />
<link rel='stylesheet' id='bs_shortcodes-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/bootstrap-shortcodes/css/shortcodes.css' type='text/css' media='all' />
 <link rel='stylesheet' id='othc-css'  href='https://occupationaltherapy.com.au/wp-content/themes/othc/style.css' type='text/css' media='all' />
   

 
 <link rel='stylesheet' id='printomatic-css-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/print-o-matic/css/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='rs-plugin-settings-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
 
<link rel='stylesheet' id='siteorigin-panels-front-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/siteorigin-panels/css/front-flex.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-layout-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
<link rel='stylesheet' id='woocommerce-smallscreen-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
<link rel='stylesheet' id='woocommerce-general-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
 
<link rel='stylesheet' id='megamenu-css'  href='https://occupationaltherapy.com.au/wp-content/uploads/maxmegamenu/style.css' type='text/css' media='all' />
<link rel='stylesheet' id='dashicons-css'  href='https://occupationaltherapy.com.au/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
 <link rel='stylesheet' id='responsive-menu-pro-font-awesome-css'  href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' type='text/css' media='all' />
  
<link rel='stylesheet' id='font-awesome-css'  href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
 
<link rel='stylesheet' id='ff-main-css'  href='https://occupationaltherapy.com.au/wp-content/themes/othc/css/main.css' type='text/css' media='all' />
<link rel='stylesheet' id='responsive-styles-css'  href='https://occupationaltherapy.com.au/wp-content/themes/othc/css/responsive.css' type='text/css' media='all' />
 <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>
 

 
                <script src="~/js/custom.js"></script>

 
 
  
 

 
 



<link href="~/css/new.css" rel="stylesheet" />

 
 <!-- End Meta Pixel Code -->
<style type="text/css" media="all"  id="siteorigin-panels-layouts-head">
/* Layout 317 */
 #pgc-317-0-0 , 
 #pgc-317-2-0 , 
 #pgc-317-3-0 ,
 #pgc-317-4-0 ,
#pgc-317-5-0 {
     width:100% 
     } 
     #pg-317-0 , 
     #pg-317-1 , 
     #pg-317-2 , 
     #pg-317-3 , #pg-317-4 , #pl-317 .so-panel , #pl-317 .so-panel:last-of-type { margin-bottom:0px } #pgc-317-1-0 , #pgc-317-1-1 { width:50% } #pl-317 #panel-317-2-0-0 { margin:60px 0px 0px 0px } #pg-317-0.panel-has-style > .panel-row-style, #pg-317-0.panel-no-style , #pg-317-1.panel-has-style > .panel-row-style, #pg-317-1.panel-no-style , #pg-317-2.panel-has-style > .panel-row-style, #pg-317-2.panel-no-style , #pg-317-3.panel-has-style > .panel-row-style, #pg-317-3.panel-no-style , #pg-317-4.panel-has-style > .panel-row-style, #pg-317-4.panel-no-style , #pg-317-5.panel-has-style > .panel-row-style, #pg-317-5.panel-no-style { -webkit-align-items:flex-start;align-items:flex-start } #panel-317-1-0-0> .panel-widget-style { padding-top:300px } #panel-317-1-1-0> .panel-widget-style { margin-top:100px } @@media (max-width:767px){ #pg-317-0.panel-no-style, #pg-317-0.panel-has-style > .panel-row-style, #pg-317-0 , #pg-317-1.panel-no-style, #pg-317-1.panel-has-style > .panel-row-style, #pg-317-1 , #pg-317-2.panel-no-style, #pg-317-2.panel-has-style > .panel-row-style, #pg-317-2 , #pg-317-3.panel-no-style, #pg-317-3.panel-has-style > .panel-row-style, #pg-317-3 , #pg-317-4.panel-no-style, #pg-317-4.panel-has-style > .panel-row-style, #pg-317-4 , #pg-317-5.panel-no-style, #pg-317-5.panel-has-style > .panel-row-style, #pg-317-5 { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-317-0 > .panel-grid-cell , #pg-317-0 > .panel-row-style > .panel-grid-cell , #pg-317-1 > .panel-grid-cell , #pg-317-1 > .panel-row-style > .panel-grid-cell , #pg-317-2 > .panel-grid-cell , #pg-317-2 > .panel-row-style > .panel-grid-cell , #pg-317-3 > .panel-grid-cell , #pg-317-3 > .panel-row-style > .panel-grid-cell , #pg-317-4 > .panel-grid-cell , #pg-317-4 > .panel-row-style > .panel-grid-cell , #pg-317-5 > .panel-grid-cell , #pg-317-5 > .panel-row-style > .panel-grid-cell { width:100%;margin-right:0 } #pgc-317-1-0 , #pl-317 .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px } #pl-317 .panel-grid-cell { padding:0 } #pl-317 .panel-grid .panel-grid-cell-empty { display:none } #panel-317-1-0-0> .panel-widget-style { padding-top:20px } #panel-317-1-1-0> .panel-widget-style { margin-top:20px }  } 
     
     
     </style>
 
 




 
</head>
   
<body class="home page-template-default page page-id-317" style=" margin:0 ;padding:0; ">
       
  <div class="site-container">
    <div id="advanced-search-form" class="cd-main-search asf-container">
        <div class="asf-wrapper wrapper">
            <form itemprop=" " itemscope="" itemtype=" " method="get" action=" " role="search"><meta itemprop="target"  >
                <input type="search" name="s" placeholder="Search...">
                <button class="search-submit fa fa-search" type="submit" value="Search"></button>
            </form>

            <span class="asf-close">
                <span class="fa fa-close"></span>
            </span>
        </div>
    </div> <!-- .cd-main-search -->




    <header class="site-header" >
        <div class="wrap">
            <div class="title-area">
                <a href="" title="Occupational Therapy KitoKids">
                    <img id="site_logo_image"   width="210" height="61"  src="~/image/logo.png" alt="Occupational Therapy Helping Children Logo" data-rjs="2"/></a>
           </div>

                <div class="widget-area header-widget-area">
                    <section id="black-studio-tinymce-17" class="widget-odd widget-first widget-1 block text-right header-widgets-section-1 widget widget_black_studio_tinymce">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <a href="tel:02 9913 3823" class="phone mp"><i class="fa fa-phone"></i> 02 9913 3823</a>
                                <div class="social-icons header-social-icons style-1">
                                    <a href="#" class="social-icon float instagram" target="_blank"><i class="fa fa-instagram"></i></a>
                                    <a href="# " class="social-icon float facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="#" class="social-icon float youtube" target="_blank"><i class="fa fa-youtube-play"></i></a>
                                    <a href="/Identity/Account/Login" class="float"><i class="fa fa-power-off"></i></a>
                                </div> 
                                <span class="asf-trigger" id="advanced-custom-search-trigger"><span class="fa fa-search"></span></span>

                            </div>
                        </div>
                    </section>


                <section id="maxmegamenu-3" class="widget-even widget-last widget-2 widget widget_maxmegamenu">
                <div class="widget-wrap">
                <nav class="nav-header">
                    <div id="mega-menu-wrap-max_mega_menu_1" class="mega-menu-wrap">
                            <div class="mega-menu-toggle">
                                <div class="mega-toggle-blocks-left"></div>
                                <div class="mega-toggle-blocks-center"></div>
                                
                                <div class="mega-toggle-blocks-right">
                                    <div class='mega-toggle-block mega-menu-toggle-animated-block mega-toggle-block-0' id='mega-toggle-block-0'>
                                        <button aria-label="Toggle Menu" class="mega-toggle-animated mega-toggle-animated-slider" type="button" aria-expanded="false">
                                            <span class="mega-toggle-animated-box">
                                                <span class="mega-toggle-animated-inner"></span>
                                            </span>
                                        </button>
                                    </div>
                            </div> 
                    </div>


        <ul id="mega-menu-max_mega_menu_1" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-current-menu-item mega-current_page_item mega-align-bottom-left mega-menu-flyout mega-menu-item-74' id='mega-menu-item-74'>
                <a class="mega-menu-link" href="/" tabindex="0">Home</a></li>
                 

<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-1303' id='mega-menu-item-1303'>
    <a class="mega-menu-link" href=" " tabindex="0">Alphabets </a>
</li>
<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-1304' id='mega-menu-item-1304'>
    <a class="mega-menu-link" href=" " aria-haspopup="true" aria-expanded="false" tabindex="0">Toys Toddler<span class="mega-indicator"></span></a>
 
</li>
 
<li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-menu-item-3220' id='mega-menu-item-3220'>
    <a class="mega-menu-link" href="#" tabindex="0">Fruits Cluster  </a>
</li>
<li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-2398' id='mega-menu-item-2398'>
    <a class="mega-menu-link" href="" tabindex="0">Number System</a>
</li><li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-1298' id='mega-menu-item-1298'>
    <a class="mega-menu-link" href=" " tabindex="0">About Us</a></li><li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-72' id='mega-menu-item-72'><a class="mega-menu-link" href="" tabindex="0">Contact</a></li></ul></div></nav></div></section>
</div></div></header>

<div class="site-inner">
    <div class="content-sidebar-wrap">
        <main class="content">
            <article class="post-317 page type-page status-publish entry" aria-label="Home">
                <header class="entry-header">

                </header>
                <div class="entry-content">
                    <div id="pl-317"  class="panel-layout" >
                        <div id="pg-317-0"  class="panel-grid panel-has-style" >
                            <div class="custom-banner-container panel-row-style panel-row-style-for-317-0" >
                                <div id="pgc-317-0-0"  class="panel-grid-cell" >
                                    <div class="wrapper panel-cell-style panel-cell-style-for-317-0-0" >
                                        <div id="panel-317-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0" >
                                            <div class="custom-banner parallax-effects panel-widget-style panel-widget-style-for-317-0-0-0" >
                                                <div class="textwidget">
                                                    <div class="slide-container">
                                                        <div class="layer-1" style="margin: 80px 0;">
                                                             <h1 class="e1 fade-in-left-1">KitoKids Child <span class="t1">Therapy</span></h1>
                                                                <p class="e2 fade-in-left-2">We believe each child is unique and that they thrive in their own special way.</p>
                                                                    <p> <a class="custom-btn-1 e3 fade-in-left-3" href="">Find out how we can help</a></p> </div>
                                                                    <div class="layer-2 layer-images home-banner-parallax">
                                                                            <img class="img-1 fade-in-1" src="https://occupationaltherapy.com.au/wp-content/uploads/2019/01/pink-orange-shape.png"  width="513" height="353" data-rjs="2" />
                                                                            <br />
                                                                            <img class="img-2 fade-in-2" src="https://occupationaltherapy.com.au/wp-content/uploads/2019/01/white-shape-banner1.png" width="583" height="388"  />
                                                                            <br />
                                                                            <img class="img-3 fade-in-2" src="https://occupationaltherapy.com.au/wp-content/uploads/2019/01/kids.png"  width="421" height="706" data-rjs="2" />
                                                                     </div><!--End layer-2-->

                                                    </div><!--end slide-container-->
 
                                                </div> <!-- endtextwidget-->
                                        </div><!--end  panel-->
                                        </div><!--5-->
                                    </div><!--end wrapper-->
                                </div> <!--7-->
                            </div><!--8-->
                         </div>

                <div id="pg-317-1"  class="panel-grid panel-has-style" >
                <div class="wrapper sr-enter-bottom panel-row-style panel-row-style-for-317-1" >
                    <div id="pgc-317-1-0"  class="panel-grid-cell" >
                        <div id="panel-317-1-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1" >
                            <div class="parallax-effects panel-widget-style panel-widget-style-for-317-1-0-0" >
                                <div class="textwidget">
                                    <div class="layer-2 layer-images home-banner-parallax parallax2">
                                        <img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/home-green-path.png"   width="467" height="548" class="green-cicle"/>
                                        <img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/home-yellow-shapes.png" />
                                        <img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/home-girl-jumping.png"   width="354" height="776" class="img-3 fade-in-2" data-rjs="2"/>
                                     </div>
                                </div>
                            </div>
                        </div>
                    </div>

<div id="pgc-317-1-1"  class="panel-grid-cell" ><div id="panel-317-1-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="2" >
    <div class="title-f-47 home-section-2-right max-w-470 ml-auto panel-widget-style panel-widget-style-for-317-1-1-0" >
        <h3 class="widget-title">Welcome</h3>
        <div class="textwidget">
            <p>We help children with a variety of developmental challenges — whether it’s concentration, handwriting or social skills at school through to long-term challenges like Autism Spectrum Disorders, ADHD, and Sensory Processing Disorders.</p>
            <p>Whatever your child needs support with, our aim is to help them live their lives with more joy by being able to go about their day-to-day activities more easily.</p>
            <p>Contact us to see how we can help your child. </p>

            <p>
                <div class="profile-box mt-40">
                <div class="s1">
                    <a href="#" class="play-btn-1 fancybox-youtube">
                        <span class="image-mask-3 shadow">
                        <img class="lazy lazy-hidden" src="~/image/sajid.jpg" data-lazy-type="image"   alt="Lisa Hughes" width="120" height="120">
                        </span><i class="fa fa-play"></i>
                    </a>
                </div>

                <div class="s2">
                    <div class="e1">Muhammad Sajid </div>
                        <div class="e2">
                            CEO/  Software Developer
                        </div>
                    </div>
                </div>
            </p>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



</div>
</section>
 
 

 </div>


<!-- Our happy Client -->








 

 
  <!-- End Meta Pixel Event Code -->
  <div id='fb-pxl-ajax-code'></div>
 


  <button id="responsive-menu-pro-button" class="responsive-menu-pro-button responsive-menu-pro-spring" type="button" aria-label="Menu">
   
    <span class="responsive-menu-pro-box">
        <span class="responsive-menu-pro-inner"></span>
    </span>        

    <span class="responsive-menu-pro-label responsive-menu-pro-label-bottom">
        <span class="responsive-menu-pro-button-text"></span>       
    </span>

</button>
 



    <div id="responsive-menu-pro-container" class="slide-right">
        <div id="responsive-menu-pro-wrapper">
            <div id="responsive-menu-pro-title">
                <a href="/" target="_self">
                    <div id="responsive-menu-pro-title-image">
                        <img alt="" src="/wp-content/uploads/2019/01/othc-logo.png" />
                    </div>
                </a>

                <a href="/" target="_self"> </a>
            </div>

            <ul id="responsive-menu-pro" class="">
                <li id="responsive-menu-pro-item-2032" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-317 current_page_item responsive-menu-pro-item responsive-menu-pro-current-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="/User/Users/Index">Home</a>
                </li>
                @*<li id="responsive-menu-pro-item-2035" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children responsive-menu-pro-item responsive-menu-pro-item-has-children responsive-menu-pro-desktop-menu-col-auto">
                <a class="responsive-menu-pro-item-link" href="">
                Services Overview
                <div class="responsive-menu-pro-subarrow">
                <span class="fas fa-angle-up"></span>
                </div>
                </a>
                *@
                @* <ul data-depth='2' class='responsive-menu-pro-submenu responsive-menu-pro-submenu-depth-1'>
                <li id="responsive-menu-pro-item-2038" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">One-on-One OT Sessions</a>
                </li>
                <li id="responsive-menu-pro-item-2037" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Group Sessions</a>
                </li>
                <li id="responsive-menu-pro-item-2039" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Schools &#038; Preschools</a>
                </li>
                <li id="responsive-menu-pro-item-2036" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Courses</a>
                </li>
                </ul>*@

                </li>

                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Alphabets Tracing</a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Toys Toddler  </a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Fruit Cluster</a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Number System </a>
                </li>


                <li id="responsive-menu-pro-item-2048" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a class="responsive-menu-pro-item-link" href="#">Contact</a></li>
            </ul><div id="responsive-menu-pro-additional-content">
                <div class="social-icons header-social-icons style-1"><a href="#" class="social-icon float instagram" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" class="social-icon float facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" class="social-icon float youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></div> <br />

                <a class="mobile-header-phone" href="tel: 02 9913 3823">
                    <i class="fa fa-mobile" aria-hidden="true"></i>  02 9913 3823
                </a><br />

                <a class="mobile-header-email" href="tel: 02 9913 3823"><i class="fa fa-envelope-o" aria-hidden="true"></i>  kitokids@gamil.com</a>
            </div><div id="responsive-menu-pro-search-box">
                <form action="#" class="responsive-menu-pro-search-form" role="search">
                    <input type="search" name="s" title="Search"
                           placeholder="Search"
                           class="responsive-menu-pro-search-box">
                </form>
            </div>
        </div>
    </div>








<div class="widget-title-container  therpay "><h3 class="widget-title">Therapy</h3></div>
<div class="siteorigin-widget-tinymce textwidget container  mt-2">
        <div class="news-query carousel-cols-2 navigation-style-2">
            <div class="row">
            <div class="col-sm-6">
                <div class="post-item style-3">
                        <a asp-area="User" asp-controller="ClusterFruits" asp-action="Index"  class="item-link">
                        <div class="bg" style="background-image:url(https://occupationaltherapy.com.au/wp-content/uploads/2022/05/pexels-yan-krukov-8613089-min-1-570x320.jpg);">
                        </div>
                        <div class="inner">
                            <!-- <div class="e1">Cluster of Fruits </div> -->
                            <h3 class="e2">Cluster of Fruits </h3>
                            <div class="e1">Teaching Your Child to  Sensory </div>
                            <div class="e3 arrow-icon">Read more</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="post-item style-3">
                    <a asp-area="User" asp-controller="ToyData" asp-action="Index"  class="item-link">
                        <div class="bg"   style="background-image:url(https://occupationaltherapy.com.au/wp-content/uploads/2021/12/Q2A0864-min-500x500_c.jpg);">
                        </div>
                        <div class="inner">
                            <h3 class="e2"> Toys Toddler</h3>
                            <div class="e1">Pretend Play Developmental Milestones</div>
                            <div class="e3 arrow-icon">Read more</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div class="siteorigin-widget-tinymce textwidget container  mt-2">
    <div class="news-query carousel-cols-2 navigation-style-2">
        <div class="row">
        <div class="col-sm-6">
            <div class="post-item style-3">
               <a asp-area="User" asp-controller="AlphabetsData" asp-action="Index"  class="item-link">
                    <div class="bg" style="background-image:url(https://occupationaltherapy.com.au/wp-content/uploads/2019/01/top-summer-fun-activity-sand-play-800x534.jpg);">
                    </div>
                    <div class="inner">
                        <h3 class="e2">Alphabet Tracing</h3>
                        <div class="e1">Developing Pre-Writing Skills</div>
                        <div class="e3 arrow-icon">Read more</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="post-item style-3">
                <a asp-area="User" asp-controller="NumberSystemLevelOne" asp-action="Index"  class="item-link">
                    <div class="bg"   style="background-image:url(https://occupationaltherapy.com.au/wp-content/uploads/2020/08/AdobeStock_211437449-min-570x320.jpeg);">
                    </div>
                    <div class="inner">
                        <h3 class="e2">Number System</h3>
                        <div class="e1">Occupational Therapy In Counting</div>
                        <div class="e3 arrow-icon">Read more</div>
                    </div>
                     
                </a>
            </div>
        </div>
    </div>
</div>

</div>



<br/>






    <div id="pg-317-2" class="panel-grid panel-has-style">
        <div class="sr-enter-bottom panel-row-style panel-row-style-for-317-2">
            <div id="pgc-317-2-0" class="panel-grid-cell">
                <div id="panel-317-2-0-0" class="so-panel widget widget_ff-widget-text panel-first-child panel-last-child" data-index="3">
                    <div class="wrapper carousel-cols-4 navigation-style-2 panel-widget-style panel-widget-style-for-317-2-0-0">
                        <div class="so-widget-ff-widget-text so-widget-ff-widget-text-base">
                            <div class="siteorigin-widget-tinymce textwidget">
                                <div class="row">

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-pink rb with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/service-online-ot-sessions.svg">
                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Alphabet Dot Filling </h4>
                                                </div>
                                                <div class="s3">
                                                    <span class="link-icon">More</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-orange with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/service-internal-ot-sessions-icon.svg">

                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Fruits Image Selection</h4>
                                                </div>
                                                <div class="s3"><span class="link-icon">More</span></div>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-blue with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/sico-clinical-coaching.svg">

                                                    </span>
                                                </div><div class="s2">
                                                    <h4 class="heading">Alphabet Matching</h4>
                                                </div>
                                                <div class="s3"><span class="link-icon">More</span></div>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-cyan with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/service-internal-ot-sessions-icon.svg"><noscript>
                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Coloring Identification</h4>
                                                </div>
                                                <div class="s3"><span class="link-icon">More</span></div>
                                            </div>
                                        </a>
                                    </div>




                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-blue with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/courses-icon.svg"><noscript>
                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Courses</h4>
                                                </div>
                                                <div class="s3"><span class="link-icon">More</span></div>
                                            </div>
                                        </a>
                                    </div>








                                    <div class="col-md-3 col-sm-6 col-xs-12">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-pink rb with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/aqua-OT-big@3x.svg"><noscript><img src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/aqua-OT-big@3x.svg"></noscript>
                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Coloring Identification</h4>
                                                </div>
                                                <div class="s3"><span class="link-icon">More</span></div>
                                            </div>
                                        </a>
                                    </div>


                                    <div class="col-md-3">
                                        <a href="#" class="inherit box-item-link">
                                            <div class="box-item bg-blue with-link">
                                                <div class="s1 icon hvr-ripple-out svg">
                                                    <span class="inner">
                                                        <img class="lazy lazy-hidden" src="https://occupationaltherapy.com.au/wp-content/themes/othc/images/svg/holiday-intensive-big@3x.svg">
                                                    </span>
                                                </div>
                                                <div class="s2">
                                                    <h4 class="heading">Matching Fruits with Image</h4>
                                                </div>
                                                <div class="s3">
                                                    <span class="link-icon">More</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



<!-- Our Happy Client -->

<div id="panel-317-4-0-0" class="so-panel widget widget_ff-widget-text panel-first-child panel-last-child" data-index="5" >         
    <div class="wrapper title-f-40 mt-10 panel-widget-style panel-widget-style-for-317-4-0-0" >
        <div class="so-widget-ff-widget-text so-widget-ff-widget-text-base">        
            <div class="widget-title-container title-align-left">
                <h3 class="widget-title"> Our Happy Clients </h3></div>
                    <div class="siteorigin-widget-tinymce textwidget">
                        <div class="team-overview carousel-cols-3 navigation-style-2">
                            <div class="slide-wrapper"><div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="team-item"><div class="s1">
                                        <a href="#">
                                    <div class="e1 image-mask-4">
                                        <img class="lazy lazy-hidden"  src="~/image/kid2.jpg" alt="Lisa Hughes" width="165" height="165">
                                   
                                    </div>
                                </a>
                                <h5 class="e2">
                                    <a href=" " class="inherit"> Saim Asad </a>
                                </h5>
                                <div class="e3 font-2">Client</div>
                        </div>
                        <a href="#" class="btn item-link">More</a>
                    </div>
                </div>
                    
 


               
                
           
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="team-item">
                        <div class="s1">
                            <a href="#">
                                <div class="e1 image-mask-4">
                                    <img class="lazy lazy-hidden"  src="~/image/hassan.jpg" alt="Sonya Gleeson" width="165" height="165">
                                 </div>
                            </a>
                            <h5 class="e2">
                                <a href=" " class="inherit">Ali Hassan </a>
                            </h5>
                            <div class="e3 font-2">Client  </div>
                        </div>
                        <a href=" " class="btn item-link">More</a>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="team-item">
                        <div class="s1">
                            <a href="#">
                                <div class="e1 image-mask-4">
                                    <img class="lazy lazy-hidden"  src="~/image/kids4.jpg" alt="Mahek Bansal" width="165" height="165">
                                 </div>
                            </a>
                            <h5 class="e2">
                                <a href="" class="inherit">Mahek Bansal</a>
                            </h5>
                            <div class="e3 font-2">Client</div>
                        </div>
                        <a href=" " class="btn item-link">More</a>
                    </div>
                </div>
                
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="team-item">
                        <div class="s1">
                            <a href="#">
                                <div class="e1 image-mask-4">
                                    <img class="lazy lazy-hidden" loading="lazy" src="~/image/kid2.jpg" alt="Larissa Ferrari" width="165" height="165">
                                 </div>
                            </a>
                            <h5 class="e2">
                                <a href="" class="inherit">Sitara Noor</a>
                            </h5>
                            <div class="e3 font-2">Client</div>
                        </div>
                        <a href="" class="btn item-link">More</a>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="team-item">
                        <div class="s1">
                            <a href="#">
                                <div class="e1 image-mask-4">
                                    <img class="lazy lazy-hidden" loading="lazy"  src="~/image/kid2.jpg" alt="Phoebe Galbraith" width="165" height="165">
                                 </div>
                            </a>
                            <h5 class="e2">
                                <a href="" class="inherit">Mahjabeen Zehira</a>
                            </h5>
                            <div class="e3 font-2">Client</div>
                        </div>
                        <a href="#" class="btn item-link">More</a>
                    </div>
                </div>
                
                
                  

                           
                            
                            

  
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
 



   
<footer class="site-footer"><div class="wrap"><div class="footer-top"><div class="wrapper"><aside class="widget-area"><section id="siteorigin-panels-builder-2" class="widget-odd widget-first widget-1 widget widget_siteorigin-panels-builder"><div class="widget-wrap"><div id="pl-w6320245982a2e"  class="panel-layout" ><div id="pg-w6320245982a2e-0"  class="panel-grid panel-has-style" ><div class="footer-section-1 panel-row-style panel-row-style-for-w6320245982a2e-0" ><div id="pgc-w6320245982a2e-0-0"  class="panel-grid-cell" ><div id="panel-w6320245982a2e-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0" ><div class="footer-section-2-a-left footer-subscribe-widget panel-widget-style panel-widget-style-for-w6320245982a2e-0-0-0" ><div class="textwidget"><div class="subscribe-form-wrapper"><span class="subscription-heading">Enjoy insights to help your child thrive</span><a href="#" class="subscription-btn fancybox-inline"><i class="fa fa-send-o"></i>Occupational Therapy KitoKids</a></div>

</div></div></div></div></div></div>
<br/>
<div id="pg-w6320245982a2e-1"  class="panel-grid panel-has-style" >
    <div class="footer-section-2 panel-row-style panel-row-style-for-w6320245982a2e-1" >
        <div id="pgc-w6320245982a2e-1-0"  class="panel-grid-cell" >
            <div id="panel-w6320245982a2e-1-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child" data-index="1" >
                <div class="footer-section-2-a panel-widget-style panel-widget-style-for-w6320245982a2e-1-0-0" >
                    <div class="textwidget">
                        <a class="footer-logo" href="/">
                            <img class="lazy lazy-hidden alignleft mr-35" src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/footer-othc-logo.png" data-lazy-type="image"   alt="Footer Othc Logo" width="80" height="82" />
                         </a>

<strong>Contact Us</strong>
<span class="phone"><i class="fa fa-phone"></i><a href="tel:02 9913 3823">02 9913 3823</a></span>
<span class="email"><i class="fa fa-envelope"></i>
    <a href="#">KitoKids@gamil.com</a></span></div></div>
</div>
<div id="panel-w6320245982a2e-1-0-1" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-last-child" data-index="2" >
    <div class="footer-section-2-b panel-widget-style panel-widget-style-for-w6320245982a2e-1-0-1" >
        <div class="textwidget">
            <img class="lazy lazy-hidden homeonly alignleft wp-image-2683 mob-center" width="300" height="100" src="~/image/logoS.png" data-lazy-type="image"  alt="Ota Member Logo (1)"/>
        


  
</div></div></div></div><div id="pgc-w6320245982a2e-1-1"  class="panel-grid-cell" ><div id="panel-w6320245982a2e-1-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child" data-index="3" ><div class="footer-section-2-b panel-widget-style panel-widget-style-for-w6320245982a2e-1-1-0" ><div class="textwidget"><!-- <span class="address mb-30"><a href="https://goo.gl/maps/SoFinQUbB4N2" target="_blank"><i class="fa fa-map-marker"></i><span class="address2"><strong>Balgowlah Clinic</strong><br/>Suite 8/67 Wanganella St, Balgowlah</span></a></span> -->

<!-- <span class="address"><a href="https://goo.gl/maps/38wdfGD5Liy" target="_blank"><i class="fa fa-map-marker"></i><span class="address2"><strong>Pymble Clinic</strong><br/>Suite 105, Level 1/14-16 <br/>Suakin St, Pymble</span></a></span> -->

<p>
<span class="address">
    <a href="#" target="_blank"> <span class="address2"><strong>Our Mission</strong><br/>
        </span></a></span></p>
<p style="font-size:10px" class="caption">
    The main aim of the project is to help young children
    in improving their learn-ability and skills. This application is specially designed for
    kids, the main objective is to improve their cognitive, perceptual skills, visual skills and
    learn-ability through this app. The application has games and tasks designed for kids to
    improve their skills and knowledge, so by playing these games and completing tasks it will
    help the user in their own development
</p> 


</div>
</div>
</div>

<div id="panel-w6320245982a2e-1-1-1" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-last-child" data-index="4" ><div class="footer-section-2-b panel-widget-style panel-widget-style-for-w6320245982a2e-1-1-1" ><div class="textwidget"><!-- <p style="font-size:10px" class="caption">OTHC acknowledges the traditional custodians of country throughout Australia and their connections to land, sea and community. We pay our respect the elders past and present and extend that respect to all Aboriginal and Torres Strait Islander peoples today.</p> --></div></div></div></div><div id="pgc-w6320245982a2e-1-2"  class="panel-grid-cell" ><div id="panel-w6320245982a2e-1-2-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="5" ><div class="footer-section-2-c panel-widget-style panel-widget-style-for-w6320245982a2e-1-2-0" ><div class="textwidget"><div class="social-icons footer-social-icons style-1"><a href="#" class="social-icon float sharethis fancybox-inline" target="_self"><i class="fa fa-share-alt"></i></a><a href="#" class="social-icon float instagram" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" class="social-icon float facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" class="social-icon float youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></div> 
 


@*
<div class="logos mt-30">
<img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/footer-award-logo-01.png" data-lazy-type="image"  alt="Footer Ndis Logo" width="60" height="85" class="alignnone size-full wp-image-1261 mr-20" />
 
<img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/footer-award-logo-01.png" data-lazy-type="image"  alt="Footer Ndis Logo" width="60" height="85" class="alignnone size-full wp-image-1261 mr-20" />

<img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/footer-award-logo-01.png" data-lazy-type="image"  alt="Footer Ndis Logo" width="60" height="85" class="alignnone size-full wp-image-1261 mr-20" />

<img src="https://occupationaltherapy.com.au/wp-content/uploads/2019/02/footer-award-logo-01.png" data-lazy-type="image"  alt="Footer Ndis Logo" width="60" height="85" class="alignnone size-full wp-image-1261 mr-20" />
*@
 </div>
</div></div></div></div></div></div></div></div></section>


<section id="custom_html-4" class="widget_text widget-even widget-last widget-2 widget widget_custom_html"><div class="widget_text widget-wrap"><div class="textwidget custom-html-widget">  <div id="fb-root"></div>
    <script>
    window.fbAsyncInit = function() {
      FB.init({
      xfbml            : true,
      version          : 'v3.2'
      });
    };
  
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  
  <div class="fb-customerchat"
    attribution=setup_tool greeting_dialog_display="hide"
    page_id="243186835789372">
  </div>
  </div></div></section>
  </aside></div></div><div class="footer-bottom"><div class="wrapper"><div class="inner"><div class="row"><div class="col-sm-4 col-xs-12 footer-bottom-left">&copy; <script>document.write(new Date().getFullYear())</script> All Rights Reserved</div><div class="col-sm-4 col-xs-12 footer-bottom-center"><a href="#">Privacy Statement &nbsp;&nbsp;&nbsp;  </a></div><div class="col-sm-4 col-xs-12 footer-bottom-right"><a href="#" target="_blank" rel="nofollow">Design by Muhammad Sajid</a></div></div></div></div></div></div></footer></div><div style="display:none"><section id="black-studio-tinymce-15" class="widget-odd widget-first widget-1 widget widget_black_studio_tinymce"><div class="widget-wrap"><h4 class="widget-title widgettitle">Subscribe Form Popup</h4>
  <div class="textwidget"><div style="display:none;">
  <div id="subscribe-form" class="popup-container subscribe-popup-container">
  <div class="inner">
  <div class="header">
  <p class="description">Signup for all our latest news and offers</p>
  </div>
  <script type="text/javascript"></script>
                  <div class='gf_browser_gecko gform_wrapper gform_legacy_markup_wrapper' id='gform_wrapper_13' ><div id='gf_13' class='gform_anchor' tabindex='-1'></div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_13' id='gform_13'  action='/#gf_13' >
                          <div class='gform_body gform-body'><ul id='gform_fields_13' class='gform_fields top_label form_sublabel_below description_below'><li id="field_13_2"  class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_13_2"><label class='gfield_label' for='input_13_2' >Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_2' id='input_13_2' type='text' value='' class='large'   tabindex='900' placeholder='Name' aria-required="true" aria-invalid="false"   /> </div></li><li id="field_13_1"  class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_13_1"><label class='gfield_label' for='input_13_1' >Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
                              <input name='input_1' id='input_13_1' type='text' value='' class='large' tabindex='901'  placeholder='Email' aria-required="true" aria-invalid="false"  />
                          </div></li><li id="field_13_4"  class="gfield field_sublabel_below field_description_below hidden_label gfield_visibility_visible"  data-js-reload="field_13_4"><label class='gfield_label' for='input_13_4' >CAPTCHA</label><div id='input_13_4' class='ginput_container ginput_recaptcha' data-sitekey='6Lf8ZOcUAAAAAL77OnaiRNdjpmS09icVnBtEsaay'  data-theme='light' data-tabindex='-1' data-size='invisible' data-badge='bottomright'></div></li><li id="field_13_5"  class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_13_5"><label class='gfield_label' for='input_13_5' >Name</label><div class='ginput_container'><input name='input_5' id='input_13_5' type='text' value='' /></div><div class='gfield_description' id='gfield_description_13_5'>This field is for validation purposes and should be left unchanged.</div></li></ul></div>
          <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_13' class='gform_button button' value='' tabindex='902' onclick='if(window["gf_submitting_13"]){return false;}  window["gf_submitting_13"]=true;  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_13"]){return false;} window["gf_submitting_13"]=true;  jQuery("#gform_13").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=13&amp;title=&amp;description=&amp;tabindex=900' />
              <input type='hidden' class='gform_hidden' name='is_submit_13' value='1' />
              <input type='hidden' class='gform_hidden' name='gform_submit' value='13' />
              
              <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
              <input type='hidden' class='gform_hidden' name='state_13' value='WyJbXSIsIjg5ZGYwZWU4Nzc3MzA1MzViMWZjOWZkNjY4ZWE1NjMyIl0=' />
              <input type='hidden' class='gform_hidden' name='gform_target_page_number_13' id='gform_target_page_number_13' value='0' />
              <input type='hidden' class='gform_hidden' name='gform_source_page_number_13' id='gform_source_page_number_13' value='1' />
              <input type='hidden' name='gform_field_values' value='' />
              
          </div>
                          </form>
                          </div>
                  <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_13' id='gform_ajax_frame_13' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
                  <script type="text/javascript">
  gform.initializeOnLoaded( function() {gformInitSpinner( 13, 'https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery('#gform_ajax_frame_13').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_13');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_13').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_13').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_13').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_13').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_13').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_13').val();gformInitSpinner( 13, 'https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery(document).trigger('gform_page_loaded', [13, current_page]);window['gf_submitting_13'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_13').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_13').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [13]);window['gf_submitting_13'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_13').text());}, 50);}else{jQuery('#gform_13').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [13, current_page]);} );} );
  </script>
  
  </div>
  </div>
  </div></div></div></section>
  <section id="black-studio-tinymce-32" class="widget-even widget-2 widget widget_black_studio_tinymce"><div class="widget-wrap"><h4 class="widget-title widgettitle">Pencil Grip</h4>
  <div class="textwidget"><div style="display:none;">
  <div id="pencilgrip" class="popup-container subscribe-popup-container">
  <div class="inner">
  <div class="header">
  </div>
  <p>
                  <div class='gf_browser_gecko gform_wrapper gform_legacy_markup_wrapper' id='gform_wrapper_28' ><div id='gf_28' class='gform_anchor' tabindex='-1'></div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_28' id='gform_28'  action='/#gf_28' >
                          <div class='gform_body gform-body'><ul id='gform_fields_28' class='gform_fields top_label form_sublabel_below description_below'><li id="field_28_2"  class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_28_2"><label class='gfield_label' for='input_28_2' >Name<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_text'><input name='input_2' id='input_28_2' type='text' value='' class='large'   tabindex='900' placeholder='Name' aria-required="true" aria-invalid="false"   /> </div></li><li id="field_28_1"  class="gfield gfield_contains_required field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_28_1"><label class='gfield_label' for='input_28_1' >Email<span class="gfield_required"><span class="gfield_required gfield_required_asterisk">*</span></span></label><div class='ginput_container ginput_container_email'>
                              <input name='input_1' id='input_28_1' type='text' value='' class='large' tabindex='901'  placeholder='Email' aria-required="true" aria-invalid="false"  />
                          </div></li><li id="field_28_4"  class="gfield field_sublabel_below field_description_below hidden_label gfield_visibility_visible"  data-js-reload="field_28_4"><label class='gfield_label' for='input_28_4' >CAPTCHA</label><div id='input_28_4' class='ginput_container ginput_recaptcha' data-sitekey='6Lf8ZOcUAAAAAL77OnaiRNdjpmS09icVnBtEsaay'  data-theme='light' data-tabindex='-1' data-size='invisible' data-badge='bottomright'></div></li><li id="field_28_5"  class="gfield gform_validation_container field_sublabel_below field_description_below gfield_visibility_visible"  data-js-reload="field_28_5"><label class='gfield_label' for='input_28_5' >Comments</label><div class='ginput_container'><input name='input_5' id='input_28_5' type='text' value='' /></div><div class='gfield_description' id='gfield_description_28_5'>This field is for validation purposes and should be left unchanged.</div></li></ul></div>
          <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_28' class='gform_button button' value='' tabindex='902' onclick='if(window["gf_submitting_28"]){return false;}  window["gf_submitting_28"]=true;  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_28"]){return false;} window["gf_submitting_28"]=true;  jQuery("#gform_28").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=28&amp;title=&amp;description=&amp;tabindex=900' />
              <input type='hidden' class='gform_hidden' name='is_submit_28' value='1' />
              <input type='hidden' class='gform_hidden' name='gform_submit' value='28' />
              
              <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
              <input type='hidden' class='gform_hidden' name='state_28' value='WyJbXSIsIjg5ZGYwZWU4Nzc3MzA1MzViMWZjOWZkNjY4ZWE1NjMyIl0=' />
              <input type='hidden' class='gform_hidden' name='gform_target_page_number_28' id='gform_target_page_number_28' value='0' />
              <input type='hidden' class='gform_hidden' name='gform_source_page_number_28' id='gform_source_page_number_28' value='1' />
              <input type='hidden' name='gform_field_values' value='' />
              
          </div>
                          </form>
                          </div>
                  <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_28' id='gform_ajax_frame_28' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
                  <script type="text/javascript">
  gform.initializeOnLoaded( function() {gformInitSpinner( 28, 'https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery('#gform_ajax_frame_28').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_28');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_28').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_28').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_28').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_28').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_28').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_28').val();gformInitSpinner( 28, 'https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/images/spinner.svg' );jQuery(document).trigger('gform_page_loaded', [28, current_page]);window['gf_submitting_28'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_28').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_28').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [28]);window['gf_submitting_28'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_28').text());}, 50);}else{jQuery('#gform_28').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [28, current_page]);} );} );
  </script>
  
  </p></div>
  </div>
  </div>
  </div></div></section>
  <section id="black-studio-tinymce-30" class="widget-odd widget-3 widget widget_black_studio_tinymce"><div class="widget-wrap"><h4 class="widget-title widgettitle">Register for this Session Popup</h4>
  <div class="textwidget"><p><!--
  
  <div style="display:none;">
  
  
  <div id="register-session-form" class="popup-container register-for-this-session-popup-container">
  
  
  <div class="inner">
  
  
  <div class="header">
  
  
  <p class="description">Register for one of these sessions</p>
  
  
  </div>
  
  
  [gravityform id="10" title="false" description="false" ajax="true" tabindex="900"]
  </div>
  
  
  </div>
  
  
  </div>
  
  --></p>
  </div></div></section>




  <style type="text/css" media="all"
  id="siteorigin-panels-layouts-footer">/* Layout w6320245982a2e */ #pgc-w6320245982a2e-0-0 { width:100% } #pg-w6320245982a2e-0 , #pl-w6320245982a2e .so-panel , #pl-w6320245982a2e .so-panel:last-of-type { margin-bottom:0px } #pgc-w6320245982a2e-1-0 { width:40% } #pgc-w6320245982a2e-1-1 { width:25.7065% } #pgc-w6320245982a2e-1-2 { width:34.2935% } #pg-w6320245982a2e-0.panel-has-style > .panel-row-style, #pg-w6320245982a2e-0.panel-no-style , #pg-w6320245982a2e-1.panel-has-style > .panel-row-style, #pg-w6320245982a2e-1.panel-no-style { -webkit-align-items:flex-start;align-items:flex-start } #panel-w6320245982a2e-0-0-0> .panel-widget-style { position:relative } #panel-w6320245982a2e-1-0-1> .panel-widget-style { margin-top:30px;margin-right:15px } #pgc-w6320245982a2e-1-1 { align-self:auto } #panel-w6320245982a2e-1-2-0> .panel-widget-style { text-align:right } media (max-width:767px){ #pg-w6320245982a2e-0.panel-no-style, #pg-w6320245982a2e-0.panel-has-style > .panel-row-style, #pg-w6320245982a2e-0 , #pg-w6320245982a2e-1.panel-no-style, #pg-w6320245982a2e-1.panel-has-style > .panel-row-style, #pg-w6320245982a2e-1 { -webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column } #pg-w6320245982a2e-0 > .panel-grid-cell , #pg-w6320245982a2e-0 > .panel-row-style > .panel-grid-cell , #pg-w6320245982a2e-1 > .panel-grid-cell , #pg-w6320245982a2e-1 > .panel-row-style > .panel-grid-cell { width:100%;margin-right:0 } #pgc-w6320245982a2e-1-0 , #pgc-w6320245982a2e-1-1 , #pl-w6320245982a2e .panel-grid .panel-grid-cell-mobile-last { margin-bottom:0px } #pl-w6320245982a2e .panel-grid-cell { padding:0 } #pl-w6320245982a2e .panel-grid .panel-grid-cell-empty { display:none } #panel-w6320245982a2e-1-2-0> .panel-widget-style { text-align:center }  } </style>	<script type="text/javascript">
(function () {
var c = document.body.className;
c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
document.body.className = c;
})();
</script>
<link rel='stylesheet' id='gforms_reset_css-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/legacy/css/formreset.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_formsmain_css-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/legacy/css/formsmain.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_ready_class_css-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/legacy/css/readyclass.min.css' type='text/css' media='all' />
<link rel='stylesheet' id='gforms_browsers_css-css'  href='https://occupationaltherapy.com.au/wp-content/plugins/gravityforms/legacy/css/browsers.min.css' type='text/css' media='all' />
<script type='text/javascript' id='printomatic-js-js-before'>
const print_data = {"pom_html_top":"","pom_html_bottom":"","pom_do_not_print":"","pom_pause_time":""}
</script>
 
  <!--Jumping-->
 
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js' id='wc-add-to-cart-js'></script>
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js' id='js-cookie-js'></script>
 
 
 
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/megamenu/js/maxmegamenu.js' id='megamenu-js'></script>
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/jquery.dotdotdot.min.js' id='dotdotdot-js-js'></script>
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/slick.min.js' id='slick-js-js'></script>
<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/scrollReveal.min.js' id='scroll-reveal-js-js'></script>
<script type='text/javascript' id='main_js-js-extra'>
/* <![CDATA[ */
var site_data = {"site_url":"https:\/\/occupationaltherapy.com.au","theme_url":"https:\/\/occupationaltherapy.com.au\/wp-content\/themes\/othc","ajax_url":"https:\/\/occupationaltherapy.com.au\/wp-admin\/admin-ajax.php","breadcrumb_special_links":"[{\"link\":\"Contact|<a href=\\\"\\\/contact\\\/\\\">Contact<\\\/a>\"},{\"link\":\"Team members|<a href=\\\"\\\/team\\\/\\\">Team<\\\/a>\"}]","sticky_header_selector":".site-header","sticky_header_top_offset":"0","enable_sticky_header":"1","stick_header_only_on_scroll_up":"1","footer_sticky_cta_offset":"600"};
/* ]]> */
</script>



<script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/main.js' id='main_js-js'></script>
      

 

</body>
 
 
   
</html>