<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cluster OF Fruit</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/userhomepagestyle.css" rel="stylesheet" />

    <link rel='dns-prefetch' href='//use.fontawesome.com' />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//maxcdn.bootstrapcdn.com' />
    <link rel='dns-prefetch' href='//s.w.org' />

    <link rel='stylesheet' id='genesis-simple-share-plugin-css-css' href='https://occupationaltherapy.com.au/wp-content/plugins/genesis-simple-share/assets/css/share.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='othc-css' href='https://occupationaltherapy.com.au/wp-content/themes/othc/style.css' type='text/css' media='all' />


    <link rel='stylesheet' id='megamenu-css' href='https://occupationaltherapy.com.au/wp-content/uploads/maxmegamenu/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='https://occupationaltherapy.com.au/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='spu-public-css-css' href='https://occupationaltherapy.com.au/wp-content/plugins/popups/public/assets/css/public.css' type='text/css' media='all' />

    <link rel='stylesheet' id='responsive-menu-pro-font-awesome-css' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' type='text/css' media='all' />

    <link rel='stylesheet' id='open-sans-css' href='https://fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C400i%2C600%2C700' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-styles-css' href='https://occupationaltherapy.com.au/wp-content/themes/othc/css/responsive.css' type='text/css' media='all' />




    <link rel='stylesheet' id='bs_bootstrap-css' href='https://occupationaltherapy.com.au/wp-content/plugins/bootstrap-shortcodes/css/bootstrap.css' type='text/css' media='all' />
    <link rel='stylesheet' id='bs_shortcodes-css' href='https://occupationaltherapy.com.au/wp-content/plugins/bootstrap-shortcodes/css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' id='othc-css' href='https://occupationaltherapy.com.au/wp-content/themes/othc/style.css' type='text/css' media='all' />



    <link rel='stylesheet' id='printomatic-css-css' href='https://occupationaltherapy.com.au/wp-content/plugins/print-o-matic/css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='https://occupationaltherapy.com.au/wp-content/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />

    <link rel='stylesheet' id='siteorigin-panels-front-css' href='https://occupationaltherapy.com.au/wp-content/plugins/siteorigin-panels/css/front-flex.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-layout-css' href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' id='woocommerce-smallscreen-css' href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' id='woocommerce-general-css' href='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />

    <link rel='stylesheet' id='megamenu-css' href='https://occupationaltherapy.com.au/wp-content/uploads/maxmegamenu/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='https://occupationaltherapy.com.au/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-menu-pro-font-awesome-css' href='https://use.fontawesome.com/releases/v5.2.0/css/all.css' type='text/css' media='all' />

    <link rel='stylesheet' id='font-awesome-css' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' type='text/css' media='all' />

    <link rel='stylesheet' id='ff-main-css' href='https://occupationaltherapy.com.au/wp-content/themes/othc/css/main.css' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-styles-css' href='https://occupationaltherapy.com.au/wp-content/themes/othc/css/responsive.css' type='text/css' media='all' />
    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-includes/js/jquery/jquery.min.js' id='jquery-core-js'></script>



    <link href="~/css/levelsytle.css" rel="stylesheet" />



    <script src="~/js/custom.js"></script>



    <!-- End Meta Pixel Code -->



</head>
<body>


    <script type='text/javascript'>



        window.onload = function () {
            var s = document.createElement('script');
            s.setAttribute('src', "https://occupationaltherapy.com.au/wp-content/plugins/official-facebook-pixel/core/../js/openbridge_plugin.js");
            s.setAttribute('onload', 'updateConfig()');
            document.body.appendChild(s);
        }
    </script>

    <div class="site-container">
        <div id="advanced-search-form" class="cd-main-search asf-container">
            <div class="asf-wrapper wrapper">
                <form itemprop="#" itemscope="" itemtype="#" method="get" role="search">
                    <meta itemprop="target"><input type="search" name="s" placeholder="Search..."><button class="search-submit fa fa-search" type="submit" value="Search"></button>
                </form><span class="asf-close"><span class="fa fa-close"></span></span>
            </div>
        </div> <!-- .cd-main-search --><header class="site-header">
            <div class="wrap">
                <div class="title-area">
                    <a href="#" title="Occupational Therapy Helping Children">
                        <img id="site_logo_image" width="161" height="68" src="~/image/logo.png" alt="Occupational Therapy Helping Children Logo" data-rjs="2" />
                    </a>
                </div><div class="widget-area header-widget-area">
                    <section id="black-studio-tinymce-17" class="widget-odd widget-first widget-1 block text-right header-widgets-section-1 widget widget_black_studio_tinymce">
                        <div class="widget-wrap">
                            <div class="textwidget">
                                <a href="tel:02 9913 3823" class="phone mp"><i class="fa fa-phone"></i> 02 9913 3823</a>
                                <div class="social-icons header-social-icons style-1"><a href="#" class="social-icon float instagram" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" class="social-icon float facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" class="social-icon float youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></div> <span class="asf-trigger" id="advanced-custom-search-trigger"><span class="fa fa-search"></span></span>

                            </div>
                        </div>
                    </section>
                    <section id="maxmegamenu-3" class="widget-even widget-last widget-2 widget widget_maxmegamenu">
                        <div class="widget-wrap">
                            <nav class="nav-header">
                                <div id="mega-menu-wrap-max_mega_menu_1" class="mega-menu-wrap">
                                    <div class="mega-menu-toggle">
                                        <div class="mega-toggle-blocks-left">
                                        </div>
                                        <div class="mega-toggle-blocks-center">
                                        </div>
                                        <div class="mega-toggle-blocks-right">
                                            <div class='mega-toggle-block mega-menu-toggle-animated-block mega-toggle-block-0' id='mega-toggle-block-0'>
                                                <button aria-label="Toggle Menu" class="mega-toggle-animated mega-toggle-animated-slider" type="button" aria-expanded="false">
                                                    <span class="mega-toggle-animated-box">
                                                        <span class="mega-toggle-animated-inner"></span>
                                                    </span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <ul id="mega-menu-max_mega_menu_1" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="fade_up" data-effect-speed="200" data-effect-mobile="disabled" data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="standard" data-breakpoint="768" data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300" data-hover-intent-interval="100">
                                        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-menu-item-74' id='mega-menu-item-74'><a class="mega-menu-link" href="/User/Users/Index" tabindex="0">Home</a></li>

                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-current-menu-item mega-page_item mega-page-item-1300 mega-current_page_item mega-current-menu-ancestor mega-current-menu-parent mega-current_page_parent mega-current_page_ancestor mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-1304' id='mega-menu-item-1304'>
                                            <a class="mega-menu-link" href="#" aria-haspopup="true" aria-expanded="false" tabindex="0">Alphabets<span class="mega-indicator"></span></a>

                                        </li>
                                        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-menu-item-3466' id='mega-menu-item-3466'><a class="mega-menu-link" href="#" tabindex="0">Toys Toddler</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-align-bottom-left mega-menu-flyout mega-menu-item-3220' id='mega-menu-item-3220'><a class="mega-menu-link" href="#" tabindex="0">Fruits Cluster </a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-2398' id='mega-menu-item-2398'><a class="mega-menu-link" href="#" tabindex="0">Number System</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-1298' id='mega-menu-item-1298'><a class="mega-menu-link" href="#/" tabindex="0">About Us</a></li>
                                        <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-72' id='mega-menu-item-72'><a class="mega-menu-link" href="#" tabindex="0">Contact</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </section>
                </div>
            </div>
        </header>
    </div></div></div>





    </div></div></div></div></div></div></div></div></section>


    <div class="fb-customerchat"
         attribution=setup_tool greeting_dialog_display="hide"
         page_id="243186835789372">
    </div>
    </div></div></section>
    </aside></div></div>




    <!-- End Meta Pixel Event Code -->
    <div id='fb-pxl-ajax-code'></div>



    <button id="responsive-menu-pro-button" class="responsive-menu-pro-button responsive-menu-pro-spring" type="button" aria-label="Menu">

        <span class="responsive-menu-pro-box">
            <span class="responsive-menu-pro-inner"></span>
        </span>

        <span class="responsive-menu-pro-label responsive-menu-pro-label-bottom">
            <span class="responsive-menu-pro-button-text"></span>
        </span>

    </button>

    <div id="responsive-menu-pro-container" class="slide-right">
        <div id="responsive-menu-pro-wrapper">
            <div id="responsive-menu-pro-title">
                <a href="/" target="_self">
                    <div id="responsive-menu-pro-title-image">
                        <img alt="" src="/wp-content/uploads/2019/01/othc-logo.png" />
                    </div>
                </a>

                <a href="/" target="_self"> </a>
            </div>

            <ul id="responsive-menu-pro" class="">
                <li id="responsive-menu-pro-item-2032" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-317 current_page_item responsive-menu-pro-item responsive-menu-pro-current-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="/User/Users/Index">Home</a>
                </li>
                @*<li id="responsive-menu-pro-item-2035" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children responsive-menu-pro-item responsive-menu-pro-item-has-children responsive-menu-pro-desktop-menu-col-auto">
                <a class="responsive-menu-pro-item-link" href="">
                Services Overview
                <div class="responsive-menu-pro-subarrow">
                <span class="fas fa-angle-up"></span>
                </div>
                </a>
                *@
                @* <ul data-depth='2' class='responsive-menu-pro-submenu responsive-menu-pro-submenu-depth-1'>
                <li id="responsive-menu-pro-item-2038" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">One-on-One OT Sessions</a>
                </li>
                <li id="responsive-menu-pro-item-2037" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Group Sessions</a>
                </li>
                <li id="responsive-menu-pro-item-2039" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Schools &#038; Preschools</a>
                </li>
                <li id="responsive-menu-pro-item-2036" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item">
                <a class="responsive-menu-pro-item-link" href="">Courses</a>
                </li>
                </ul>*@

                </li>

                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Alphabets Tracing</a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Toys Toddler  </a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Fruit Cluster</a>
                </li>
                <li id="responsive-menu-pro-item-2034" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto">
                    <a class="responsive-menu-pro-item-link" href="#">Number System </a>
                </li>


                <li id="responsive-menu-pro-item-2048" class=" menu-item menu-item-type-post_type menu-item-object-page responsive-menu-pro-item responsive-menu-pro-desktop-menu-col-auto"><a class="responsive-menu-pro-item-link" href="#">Contact</a></li>
            </ul><div id="responsive-menu-pro-additional-content">
                <div class="social-icons header-social-icons style-1"><a href="#" class="social-icon float instagram" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" class="social-icon float facebook" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" class="social-icon float youtube" target="_blank"><i class="fa fa-youtube-play"></i></a></div> <br />

                <a class="mobile-header-phone" href="tel: 02 9913 3823">
                    <i class="fa fa-mobile" aria-hidden="true"></i>  02 9913 3823
                </a><br />

                <a class="mobile-header-email" href="tel: 02 9913 3823"><i class="fa fa-envelope-o" aria-hidden="true"></i>  kitokids@gamil.com</a>
            </div><div id="responsive-menu-pro-search-box">
                <form action="#" class="responsive-menu-pro-search-form" role="search">
                    <input type="search" name="s" title="Search"
                           placeholder="Search"
                           class="responsive-menu-pro-search-box">
                </form>
            </div>
        </div>
    </div>







    <div class="content-sidebar-wrap">
        <main class="content">
            <header class="entry-header"> </header>
            <div class="entry-content">
                <div id="pl-3216" class="panel-layout">
                    <div id="pg-3216-0" class="panel-grid panel-has-style">
                        <div class="remove-panel-grid-cell-bottom panel-row-style panel-row-style-for-3216-0">
                            <div id="pgc-3216-0-0" class="panel-grid-cell">
                                <h2 class="page-title" style="text-align:center; color:  white ">
                                    <span style="border: solid 1px  #0b1a48; border-radius: 40px 20px; padding: 20px; background-color:#0b1a48; padding: 18px;"> Level Selection</span>
                                </h2>

                            </div>
                        </div><!--dd-->




                        <div id="panel-3216-0-0-4" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-last-child">
                            <div class="textwidget">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="pg-3216-1" class="panel-grid panel-has-style mt-3">

                <div class="reach-out-form siteorigin-panels-stretch panel-row-style panel-row-style-for-3216-1" id="join-our-team" data-stretch-type="full">
                    <div id="pgc-3216-1-0" class="panel-grid-cell">
                        <div id="panel-3216-1-0-0" class="so-panel widget widget_siteorigin-panels-builder panel-first-child panel-last-child" data-index="5">
                            <div id="reach-out-form" class="panel-widget-style panel-widget-style-for-3216-1-0-0">
                                <div id="pl-w60b6c919e0ac0" class="panel-layout">
                                    <div id="pg-w60b6c919e0ac0-0" class="panel-grid panel-no-style">
                                        <div id="pgc-w60b6c919e0ac0-0-0" class="panel-grid-cell">
                                            <div id="panel-w60b6c919e0ac0-0-0-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="0">

                                                <div class="textwidget">




                                                    <div class='gf_browser_chrome gform_wrapper gform_legacy_markup_wrapper' id='gform_wrapper_47'>
                                                        <div id='gf_47' class='gform_anchor' tabindex='-1'></div>

                                                        <form>
                                                            <h4> Alphabets Tracing, Select level </h4>

                                                            <div class="row">
                                                                <div class="col-md-3">

                                                                    <a href="/User/AlphabetLevelOne/AlphabetsLevelOne">

                                                                        <img src="~/image/1.png" alt="" width="200" height="200" style="border-radius:20px 50px;">

                                                                    </a>

                                                                </div>



                                                                <div class="col-md-3"><img src="~/image/2.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>
                                                                <div class="col-md-3"><img src="~/image/3.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>

                                                            </div>
                                                            <div class="row mt-4">
                                                                <div class="col-md-3"><img src="~/image/4.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>
                                                                <div class="col-md-3"><img src="~/image/5.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>
                                                                <div class="col-md-3"><img src="~/image/6.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>

                                                            </div>
                                                            <div class="row mt-4">
                                                                <div class="col-md-3"><img src="~/image/7.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>
                                                                <div class="col-md-3"><img src="~/image/8.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>
                                                                <div class="col-md-3"><img src="~/image/9.png" alt="" width="200" height="200" style="border-radius:20px 50px;"></div>

                                                            </div>



                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div id="pgc-w60b6c919e0ac0-0-1" class="panel-grid-cell">
                                            <div id="panel-w60b6c919e0ac0-0-1-0" class="so-panel widget widget_black-studio-tinymce widget_black_studio_tinymce panel-first-child panel-last-child" data-index="1">
                                                <div class="textwidget">
                                                    <p>
                                                        <img class="lazy lazy-hidden" src="~/image/imgApple.jpg" data-lazy-type="image" alt="Join Our Team Feat Img" style="width:100%;height:450px;border-radius:20px 50px; " />

                                                    </p>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div></div></article></main></div></div>








    <!--Jumping-->

    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js' id='wc-add-to-cart-js'></script>
    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js' id='js-cookie-js'></script>



    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/megamenu/js/maxmegamenu.js' id='megamenu-js'></script>
    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/jquery.dotdotdot.min.js' id='dotdotdot-js-js'></script>
    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/slick.min.js' id='slick-js-js'></script>
    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/themes/othc/js/scrollReveal.min.js' id='scroll-reveal-js-js'></script>


    <script type='text/javascript' id='siteorigin-panels-front-styles-js-extra'>
        /* <![CDATA[ */
        var panelsStyles = { "fullContainer": ".site-container", "stretchRows": "1" };
                /* ]]> */
    </script>

    <script type='text/javascript' src='https://occupationaltherapy.com.au/wp-content/plugins/siteorigin-panels/js/styling.min.js' id='siteorigin-panels-front-styles-js'></script>




</body>
</html>