<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KitoKidsFYP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style type="text/css">
        .badColour {
            background-color: #DC4C64;
        }

        .trueColour {
            background-color: #E4A11B;
        }

        .textspan {
            min-height: 200px;
            display: inline-flex;
            font-size: 20px;
            align-items: center;
        }

        .imageview {
            height: 188px;
            text-align: center;
        }

        .audioview {
            width: 385px;
            margin-top: 5px;
        }

        .imgTag {
            border-radius: 0%;
            width: 220px;
            height: 160px;
            margin-top: 7px;
            margin-bottom: 7px;
        }
    </style>

   
 
</head>
<body style="background-color:#01579B">

   
        @RenderBody()



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
     @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
