<head>

</head>


<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section dashboard">
    <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">

                <!-- Cluster Card -->
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="/Admin/ClusterFruit/Index">Level 1</a></li>
                                <li><a class="dropdown-item" href="#">Level 2</a></li>
                                <li><a class="dropdown-item" href="#">Level 3</a></li>
                                 
                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Fruits <span>| Levels</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>Cluster Fruits</h6>
 
                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->


                <!-- Toys Card -->
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Level 1</a></li>
                                <li><a class="dropdown-item" href="#">Level 2</a></li>
                                <li><a class="dropdown-item" href="#">Level 3</a></li>

                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Toys <span>| Levels</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>Toys Toddler</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->
                <!-- Alphabets Card -->
                <div class="col-xxl-4 col-md-4">
                    <div class="card info-card sales-card">

                        <div class="filter">
                            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                <li class="dropdown-header text-start">
                                    <h6>Filter</h6>
                                </li>

                                <li><a class="dropdown-item" href="#">Level 1</a></li>
                                <li><a class="dropdown-item" href="#">Level 2</a></li>
                                <li><a class="dropdown-item" href="#">Level 3</a></li>

                            </ul>
                        </div>

                        <div class="card-body">
                            <h5 class="card-title">Alphabets <span>| Levels</span></h5>

                            <div class="d-flex align-items-center">
                                <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                    <i class="bi bi-people"></i>
                                </div>
                                <div class="ps-3">
                                    <h6>Alphabets Tracing</h6>

                                </div>
                            </div>
                        </div>

                    </div>
                </div><!-- End Sales Card -->




                 </div>
                </div>
                </div>
             </section>